@charset "utf-8";
/* CSS Document */

body								{ margin:0px; padding:0px; font-family:tahoma;  }
.header								{ width:100%; height:auto; background-color:#eef1f6; }
.header img							{ padding:15px; }
.LoginOuter							{ background-color: #00a1e1; border-radius: 10px; height: auto; left: 40%; padding: 20px; position: absolute; top:30%; width: 300px; }
.LoginOuter label, .ListOuter label					{ width: 100%; color: rgb(255, 255, 255); float: left; padding-bottom: 5px; font-size: 14px; }
.LoginOuter .Txtbox, .ListOuter .Txtbox					{ width: 97%; outline: medium none; border: medium none; font-size: 12px; padding: 5px; margin-bottom:10px; border-radius:3px; }
.Submit								{ width:auto; height:auto; background-color:#0070d2; float:left; padding:5px; color:#ffffff; border:none; outline:none; cursor:pointer }

.ListOuter							{ width:800px; margin:0px auto; position:relative; margin-top:50px; }
.ListOuter label					{ color:#333333; font-size:12px }
.ListOuter .Txtbox					{ background-color:#f2f2f2; border:1px solid #cccccc; width:100% }