<span style='color: #000'>1056 frames</span>	<span style='color: #900'>23,552 KB</span>	<span style='color: #090'>6,475.61 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />