body								{ margin:0px; padding:0px; font-family:tahoma;  }
img									{border:none }
.header								{ width:100%; height:auto; background-color:#eef1f6; }
.header img							{ padding:15px; }
.LoginOuter							{ 
										background-color	: #00a1e1; 
										border-radius		: 10px; 
										height				: auto; 
										left				: 40%; 
										padding				: 20px; 
										position			: absolute; 
										top					: 30%; 
										width				: 300px; 
										
									}
.LoginOuter label, .ListOuter label					{ width: 100%; color: rgb(255, 255, 255); float: left; padding-bottom: 5px; font-size: 14px; }
.LoginOuter .Txtbox, .ListOuter .Txtbox					{ width: 97%; outline: medium none; border: medium none; font-size: 12px; padding: 5px; margin-bottom:10px; border-radius:3px; }
.Submit								{ width:auto; height:auto; background-color:#0070d2; float:left; padding:5px; color:#ffffff; border:none; outline:none; cursor:pointer }

.ListOuter							{ width:800px; margin:0px auto; position:relative; margin-top:50px; }
.ListOuter label					{ color:#333333; font-size:12px }
.ListOuter .Txtbox					{ background-color:#f2f2f2; border:1px solid #cccccc; width:100% }
.Grid								{
		margin-top			: 63px;
		width				: 90%;
		margin-left			: 76px; 
		border				: 1px solid #cccccc; 
		font-size			: 12px; 
		border-bottom		: 1px solid green;
		border-left			: 1px solid green;
		border-right		: 1px solid green;
	}
.Grid td			{ border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; padding:5px; color:#333333 }
.Grid td:last-child, .Grid th:last-child	{ width:8%; text-align:center }
.Grid thead tr{ background-color: #7FBF3F;}	
.Grid th				{ border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; padding:5px; color:white }

.Grid tbody {
    display:block;
    height:300px;
    overflow:auto;
}
.Grid thead, tbody tr {
    display			:table;
    width			:100%;
    table-layout	:fixed;/* even columns width , fix width of table too*/
}
.Grid thead {
    width: calc( 100% - 1em )
}
.Grid table {
    width:400px;

}
.labelfont span {
	font-weight: normal; 
}
/*border-bottom: 1px solid green;
    border-left: 1px solid green;
    border-right: 1px solid green;
    position: absolute;
    top: 37px;*/
/*.box {
	float	: left;
	width	: 500px;
	height	: 101px;
	margin	: 0.5em;
	margin-left: 74px;
}
.after-box {
	clear	: left;
}*/