@CHARSET "ISO-8859-1";
@-moz-document url-prefix() {
#feedbckfrm { margin: -28px 0 0 0 !important;}
.notiCnt{
	bottom: 44px !important;;}
}
#utilization_employee{top:0px !important}
#OtherItemsTools	{ right: 0px !important;    width: 560px !important; }
#OtherItemsTools-innerCt	{ width: 615px !important; }
#GroupVertical_combo		{ left: 168px !important; }
#SettingIconGroup-innerCt .x-form-checkbox	{ left: 20px !important; top: 10px !important; }

#card-1{position: fixed;}
#gridview-1166{top:auto !important; bottom:0 !important;}
#feedback-placeholder-innerCt, #feedback-placeholder-targetEl, #feedback-placeholder-body 	{ width: 187px !important; }
#feedbckfrm{top:150px ! important;}
#logoutButton		{     position: absolute;  right: -143px;  top: -27px; }
#container-1013		{text-align: -webkit-right;text-align:20px; text-align: -moz-right;float:right;margin-top:5px;border-width:0px 0px 0px 0px;width: 709px !important;height:60px;     position: absolute; right: 136px; }

#NotifyToolbar		{ float:right;margin:11px 0 0 -5px !important;border-width:1px;width:24px;height:24px;margin-right: 60px;position: absolute !important;right: -54px !important; top: -29px; }

#logInUserName	{ float:right;cursor:pointer;margin:4px 133px 0px 0px !important;border-width: `;position: absolute !important;right: -487px; width: 701px ; top:-12px; text-align: -webkit-right;text-align: -moz-right;text-align:20px; }

#logInCont		{ float:right;cursor:pointer;margin:1px 10px 0px 0px !important;border-width:0px 0px 0px 0px;position: absolute !important; top: -10px !important; right: -37px; width: 300px; text-align: -webkit-right;text-align: -moz-right;text-align: 20px; }

#logInUserName	{  right: -486px\0;width: auto\0; margin:4px 133px 0px 0px\0;  }

#logInCont		{  /*right: 0px\0;*/ width: 168px\0; text-align:right\0; }
#logInCont span:first-child{width:100%\0}
/*-------------feedback option css*/
#feedback-body	{ background: none; }
#feedback-placeholder-iconEl {
 width: 187px !important; height:41px !important;left: 0px !important;
}

#feedback-placeholder{ background:none !important; border:none !important;position:absolute !important;padding-top: 0px !important; width: 197px !important; left: 585px !important;}

/*................................................................*/
.searchLabel {color:#FFFFFF;font-weight: bold;text-align: center;padding: 3px 0 0 0;float: left;}

.x-menu-item-checked{background : #4B9CD7;}

.x-menu-item-checked .x-menu-item-text {color:#fff;font-weight:bold}

.x-menu-item-checked .x-menu-group-icon {background-image:none;}

.x-view-selector {position: absolute;border: 1px dotted #3399BB;}
.drag-image-over {cursor: move;cursor: -webkit-grab;cursor: -moz-grab;}
.drag-image-selected {cursor: move;cursor: -webkit-grabbing;cursor: -moz-grabbing;}
select{font-size:11px;}
.image-tip{padding:4px;height:98px;white-space:nowrap;}
.image-tip img {margin-right:10px;border:2px solid #083772;}
.image-tip b{color: #083772;display: block;margin-bottom: 4px;}
.image-tip span{display: block;margin-bottom: 5px;margin-left: 5px;}
.x-image-view{font: 11px Arial, Helvetica, sans-serif;float: left;margin:0 10px;border : 1px solid #cccccc;-moz-border-radius: 3px;-webkit-border-radius: 3px;-o-border-radius: 3px;-ms-border-radius: 3px;-khtml-border-radius: 3px;border-radius: 3px}
.x-image-view .thumb{padding:0px;}
.x-image-view .thumb-wrap{float: left;margin: 4px;margin-right: 0;padding: 0px;}
.x-image-view .thumb-wrap span{display: block;overflow: hidden;text-align: center;width: 76px;}
.x-image-view .loading-indicator {font-size:8pt;background-image:url(../../resources/themes/images/default/grid/loading.gif);background-repeat: no-repeat;background-position: left;padding-left:20px;margin:10px;}
.x-dd-drag-proxy .multi-proxy .thumb-img{height: 20px; width: 30px;margin:1px;}
.x-dd-drag-proxy .thumb-img{height: 60px;width: 80px;}
.x-dataview-draggable-ghost img {width: 20px;margin: 0 5px 5px 0;}
.x-drop-target-active {border :3px solid #ff0000;}

.my-own span{border:1px solid gray;border-radius:5px;padding:1px 5px;}

.dashHeader .x-column-header-inner {background: #4B9CD7;color:#ffffff;}
.dashHeader .x-grid-cell {border-color: #cccccc; }
.dashHeader .x-grid-row-over .x-grid-cell {background: #ffffff;}
.dashHeader .x-grid-row-selected .x-grid-cell {background: #ffffff;}
.dashHeader .x-grid-cell-last {border-right:none;}

.x-tree-node-loading  .x-tree-icon{ background-image: url('../images/loader.gif') !important; }

.my-loader{
	background-image: url('../../extjs/resources/themes/images/access/grid/wait.gif') !important;
}

.dashHeader .wrap .x-grid-cell-inner {
    white-space: normal;
}

.disabledComboTestCls  {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/*.x-form-invalid .x-form-trigger-wrap {
    border-color: rgba(0, 0, 0, 0);
}*/

.x-form-invalid{
    border-color: rgba(0, 0, 0, 0);
}

 ul.x-boxselect-list{
    -moz-box-sizing: inherit;
}

.enabledComboTestCls {
     opacity: 1;
}

.disabledComboTestCls {
     opacity: 0.5;
}

.setBtn-Active{

background:#C1BDBD !important;
}

 
.External-color-class  .x-grid-td{
background-color: #FFCC00 !important;
}
.x-menu-item-icon {
	top:9px !important;
	left: 4px !important;
}

.dashboardIcon{
	background-position:-22px 0px !important;
	width:16px; height:16px;
}

.homeIcon{
	background-image: url('../images/menu/home_Icons.png') !important;
	background-position:0px 0px;
	width:16px; height:16px;
}

.acMngIcon{
	background-image: url('../images/menu/account_management_Icons.png') !important;
	background-position:0px -3px !important;
	width:16px; height:16px;
}


.notifyIcon{
	background-image: url('../images/alerts.png') !important;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	
}
.notiCnt{
	bottom: 41px;
    float: right;
    font-size: 12px;
    left: 40px;
    position: relative;
    z-index: 1;
}

.notifyIcon span.x-btn-arrow {
	background:none;
}


.opsIcon{
	background-image: url('../images/menu/ops_data_Icon.png') !important;
	background-position:0px 0px !important;
	width:16px; height:16px;
}

.mstrDataIcon{
	background-image: url('../images/menu/master_data_Icon.png') !important;
	background-position:0px 0px !important;
	width:16px; height:16px;
}

.clientSentimentalIcon{
	background-image: url('../images/menu/clientsentimental.png') !important;
	background-position:0px 0px !important;
	width:16px; height:16px;
}

.docmtIcon	{
	background-position:0px -24px !important;
}

.accuracyIcon{
	background-position:16px 46px !important;
}

.attributeIcon{
	background-position:-35px -51px !important;
}

.clientIcon{
	background-position:0px -52px !important;
}

.designationIcon{
	background-position:0px -113px !important;
}

.employeeIcon{
	background-position:-34px 0px !important;
}

.hrDocsIcon{
	background-image: url('../images/menu/hrDocs.png') !important;
}

.incidentlogIcon{
	background-position:0px 20px !important;
}


.reportIcon{
	background-position:0px -24px !important;
}

.meetingIcon{
	background-position:0px -22px !important;
}

.metricsIcon{
	background-position:16px 0px !important;
}

.peplBillabilityIcon {
	background-position:0px 47px !important;

}

.reimburseIcon {
	background-position:16px 16px !important;
	
}

.peplTransitionIcon{
	background-position:0px -57px !important;
}

.processIcon{
	background-position:0px -83px !important;
}

.processDocsIcon{
	background-image: url('../images/menu/processDocs.png') !important;
}
#ExtheaderMenuToolbar-innerCt .x-btn-icon-el  { background-position: 0px 0px; }

.technologiesIcon{
	background-position:-35px -26px !important;
}

.toolsAndTechnologiesIcon {
    background-position: -42px -24px !important;
}

.mprDashboard {
    background-position: -100px -76px !important;
}

.utilisationIcon{
	background-position:16px 75px !important;
}

.verticalIcon{
	background-position:0px -24px !important;
}

.onboardingIcon {
	background-position:0px -28px !important;
}

.newjoineeIcon{
	background-image: url('../images/menu/newJoinee.png') !important;
}

.metricDashboardIcon{
	background-position:16px 102px !important;
}

.acMngCDIcon{
	background-position:0px -29px !important;
}
.acMngNRRIcon{
	background-position:95px 17px !important;
}
.acMngRDRIcon{
	background-position:56px 0px !important;
}
.acMngERIcon{
	background-position:1px -75px !important; 

}
.acMngFRIcon{
	background-position:0px -48px !important;
}
.skillMatrixIcon{
	background-position: 0px 78px !important;
}
.ticketingSystemIcon{
	background-position:-1px 45px !important;
}
.tmsIcon{
	background-position:16px 0px !important;
}
.mrbsIcon{
	background-position:16px -24px !important;
}
.taxIcon{
	background-position:17px 45px !important;
}
.dcTestIcon{
	background-position:0px 17px !important;
}
.surveyIcon{
	background-position:17px -193px !important;
}

.otherAppsIcon {
	background-image: url('../images/menu/otherapps_Icon.png') !important;
	background-position:0px 0px ;
	width:16px; height:16px;
}
.reportsMenuIcon {
	background-image: url('../images/menu/reports_Icon.png') !important;
	background-position:0px 0px;
	width:16px; height:16px;
}
.ytdIcon{
	background-image: url('../images/tree/ytd.png') !important;
}
.hierarchyIcon{
	background-image: url('../images/tree/hierarchy.png') !important;
}
.appreciateIcon{
	background-image: url('../images/tree/Appreciation.png') !important;
}
.escalationIcon{
	background-image: url('../images/tree/Escalation.png') !important;
}
.NightShiftIcon{
	background-image: url('../images/menu/nightshiftEmployeeReport.png') !important;
}
.meetingmyaction{	
	background-image: url('../images/menu/my_action.png') !important;
	}
tr.x-grid-row:nth-child(1) > .wrap,tr.x-grid-row:nth-child(4) > .wrap,tr.x-grid-row:nth-child(7) > .wrap {
	background:#C1BDBD !important;
	font: 11px Arial, Helvetica, sans-serif; font-weight:bold;
	color:#000;
	text-align:center !important;
}
.EmployUtil{
	display:none;
}
tr.x-grid-row:nth-child(1) > .x-grid-cell-inner {
	text-align:center !important;
}

#dyngridpanel  table.x-grid-table{
border-top:none;
}

.x-menu-item-link {
    display: inline-block;
    line-height: 24px;
    padding: 0 4px 0 22px;
}
.x-menu-item-arrow {
	top:14px !important;
}

#peopleBillPagTool a,#peopleBillPagTool table,#peopleBillPagTool .x-toolbar-separator,#peopleBillPagTool .x-toolbar-text{
	display : none !important;
}

#peopleBillPagTool .x-toolbar-text:last-child
{
display : block !important;
}

#popupDisplay-body{
	margin:20px 0px 0px 40px;
}

.peopleTool a,.peopleTool table,.peopleTool .x-toolbar-separator,.peopleTool .x-toolbar-text{
	display : none !important;
}

.peopleTool .x-toolbar-text:last-child
{
display : block !important;
left: 2px!important;
}

.displayTransition-false { display: none }

.x-form-my-field  input{
border: 1px solid #cf4c35 !important;
}


.cursor_hand td{
cursor: pointer !important;
}

#historyUtil  .noDataPanel{
	border: 1px solid #e5e5e5;

}
.EditInsight {
	background: url('../images/edit.png') !important;
	cursor: pointer;
}

.btnNextPrev{
top:65px !important;
background:transparent;

}

.btnNextPrev .x-btn-default-toolbar-small{

	background-color: #157fcc;
    background-image: -moz-linear-gradient(center top , #157fcc, #157fcc 50%, #157fcc 51%, #157fcc);
    background: -webkit-linear-gradient(top, #157fcc 0%,#157fcc 50%,#157fcc 51%,#157fcc 100%); 
    background: -ms-linear-gradient(top, #157fcc 0%,#157fcc 50%,#157fcc 51%,#157fcc 100%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 4px;

}

.btnNextPrev .x-btn-default-toolbar-small .x-btn-inner{
color:#fff;
font-weight:bold;
}

.btnNextPrevDash{
top:10px !important;
background:transparent;
}

.btnNextPrevDash .x-btn-default-toolbar-small{

	background-color: #157fcc;
    background-image: -moz-linear-gradient(center top , #157fcc, #157fcc 50%, #157fcc 51%, #157fcc);
    background: -webkit-linear-gradient(top, #157fcc 0%,#157fcc 50%,#157fcc 51%,#157fcc 100%); 
    background: -ms-linear-gradient(top, #157fcc 0%,#157fcc 50%,#157fcc 51%,#157fcc 100%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 4px;

}

.btnNextPrevDash .x-btn-default-toolbar-small .x-btn-inner{
color:#fff;
font-weight:bold;
}
#dyngridpanel{
height: 73px !important;
}

#utilization_process-inputEl{
	color:#000;
}
.reportsgroupCheckbox .x-form-checkbox{
	position: relative;
    top: 23px;
}

.dctestpanel{
	border: 1px solid #E6E6E6; 
	-moz-box-shadow:  5px 5px 5px #888;
	-webkit-box-shadow:  5px 5px 5px #888;
	box-shadow: 3px 3px 3px #888;
}
.rowInVisible .x-grid-row-expander {
    visibility: hidden;
}
.rowVisible .x-grid-row-expander {
    visibility: visible;
}
.appFrame {
	border: none;
}
.custom-grid .x-grid-cell  {
	border:1px dotted #A3BAE9;
	
}
.custom-grid .x-grid-row-summary {
    background-color: #B9D9F0;
}

.custom-grid .x-grid-row-editor-buttons-default-bottom{
    top: 30px !important;
 
}

.custom-grid .x-grid-row-editor-buttons-default-top{
    bottom: 30px !important;
  
}

#billpopupDisplay-body {
	margin: 20px 0px 0px 40px;
}

.x-grid-row .custom-column { 
    background-color: #EBEBE0;
}
td.wrap-text div {
    white-space: normal;
	word-wrap: break-word;
}

.x-border-layout-ct{
	 background-color: #FFFFFF;
}
#feedBackclient-placeholder .x-panel-header-default-vertical-noborder {
    padding: 4px;
}
#feedBackclient-placeholder-innerCt,
#feedBack-placeholder-innerCt{
width: 9px !important;
}

#feedBackclient-placeholder-targetEl,#feedBack-placeholder-targetEl{
	width: 10px !important;
}
#feedBackclient-placeholder_hd,#feedBack-placeholder_hd{
	line-height:9px;
}

#feedBackclient-placeholder_hd-textEl,#feedBack-placeholder_hd-textEl{
  font-size: 11px;

}
#feedbckfrmclient,#feedbckfrm {
	
	background: #88b7d5;
	border: 2px solid #157fcc;
	
}
#feedbckfrm:after, #feedbckfrm-body:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#feedbckfrm:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
#feedbckfrm:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
#mainContent{
/*left:32px !important;*/

}
#feedBackclient-placeholder,#feedBack-placeholder {
	margin:0 -11px 0 -11px!important;
	padding:5px 0 0 9px;
}

.NotificationWrapper {
    width: 400px;
    height: auto;
    border: 1px solid #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.Heading,
.Show {
    width: 99%;
    background-color: #3498db;
    float: left;
    padding: 5px 0;
    color: #ffffff;
    padding-left: 5px;
    font-size: 13px;
}
.Show a {
    text-decoration: none;
    color: #ffffff;
}

.NotificationList {
    list-style-type: none;
    position: relative;
   	left:-13%;
   	margin-top: 3%;
   	width: 112%;
}


.closeimg {
	cursor: pointer;
	position: relative;
    top: -42%;
    left: 90%;
}
/*.circle {
  position: relative;
  right: 10px;
  border-radius: 135px;
  width:100px;
  height:100px; 
  top: 25px;
  background-color: red;
}*/
.readcontents {
	position: relative;
	left: 3%;
	bottom: -6px;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.unreadcontents {
	position: relative;
	left: 3%;
	bottom: -6px;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-weight: bold;
}
.date {
	position: absolute;
	left:70%;
	top: 30px;
	display:block;
	font-size: 11px;
	font-color:#C0C0C0;
}
.box {
	position: relative;
    border-style: solid;
    background-color: mintcream;
    border-width: 1px;
    border-bottom: 1px solid grey;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 2%;
    border-color: #D8D8D8;
    height: 52px;
}
.box:hover {
	background-color: #ededed;
}
.showall {
	position: relative;
	text-align: left;
	right: 66%;
}
.showallnotif {
    text-decoration: none;
    z-index: 1;
    position: absolute;
    text-align: middle;
    top: 32%;
    left: 36%;
}
.showallnotif :hover {
     text-decoration:underline;
     color: blue;
}

.showallcls {
	position: relative;
	background-color: #E5E5E5;
	height:40px;
	width:100%;
	top:219px;
	z-index: 1;
	border-top: 1px solid #A9A9A9;
	border-bottom: 1px solid #A9A9A9;
	border-left: 1px solid #A9A9A9;
	border-right: 1px solid #A9A9A9;
}
.mainnotfic {
	position: absolute;
	height: 80%;
	overflow:auto;
	overflow-x: hidden;
	width: 100%;
}
.nullnotific {
	position: relative;
	background-color: #E5E5E5;
	border-top: 1px solid #A9A9A9;
	border-bottom: 1px solid #A9A9A9;
	border-left: 1px solid #A9A9A9;
	border-right: 1px solid #A9A9A9;
	width:100%;
	height:40px;
	top:217px;
}
#watermark {
    color: #d0d0d0;
    font-size: 34px;
    height: 117%;
    left: 13px;
    margin: 0;
    position: absolute;
    top: 47px;
    transform: rotate(0deg);
    width: 110%;
}

div.tooltip {outline:none; }
div.tooltip strong {line-height:30px;}
div.tooltip:hover {text-decoration:none;} 
div.tooltip span {
    display: none;
    line-height: 2px;
    margin-left: -20px;
    margin-top: 7px;
    padding: 14px 20px;
    width: 170px;
    z-index: 10;
   
}
div.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #157fcc; background:#E6F5FF;
}

.callout {z-index:20;position:absolute;top:30px;border:0;left:0px;}

    
/*CSS3 extras*/
div.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

.dashHeader .x-grid-row, .dashHeader .x-grid-data-row {
	height:34px;
}

#prvBtn,#nextBtn{
	position:relative !important;
	top:60px !important;


}

.meetingTextCls textarea{
	width:54% !important;
	position:relative !important;
	left:24% !important;
}


#TopicButton{
	background: url('../images/arrowImage.png') 0 0 no-repeat !important;
	border:none;	
}

#ResourcButton{
margin: 0px 0px 0px 15px !important;

}

.dashboardmeetBut {
	height:40px !important;
	margin-top:25% !important;
}

.dashboardmeetBut .x-btn-inner {
  line-height: 32px !important;
}
.errorReport{
	background-image: url('../images/error.png') !important;
}
.consolidatedUtilization{
	background-position:16px 0px !important;
}
.BufferReportIcon {
	background-image: url('../images/menu/buffer.png') !important;
}
.ProhanceStatsIcon {
	background-image: url('../images/menu/prohance.png') !important;
}
.CustomReportIcon {
	background-position:16px -49px !important;
}

#MeetingTypePanel-triggerWrap,#MeetingClientPanel-triggerWrap,#InternalAttendeesPanel-triggerWrap,#ExternalAttendeesPanel-inputEl{
	width: 400px
}
.x-action-col-cell img.icon-follow {
	background-image: url("../images/Star_Grey.png");
}
.x-action-col-cell img.icon-followed {
    background-image: url("../images/Star_Yellow.png");
}
/* Grouped Combobox*/
.grouped-list .x-boundlist-item {
  padding: 1px 3px 0 10px;
}
.grouped-list .group-header {
  padding: 4px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.buttonImg{
	border-style: none !important;
    background-image: url('../images/dashboard/down_arrow.png') !important;
	background-color: #fff !important;
	background-repeat: no-repeat;
	background-color: #fff !important;
	margin-left: -1px !important;
    width: 22px !important;
	height: 22px !important;
}

.resigned .x-grid-cell {
	background-color:  #FFFF7F !important;
}
.highlightMBR .x-grid-td{
background-color: yellow !important;
}
.myBoldClass.x-grid3-row td {
	font-weight	: bolder;
	font-size	: large;
}
table.prohancetable {
	border-collapse	: collapse; 
	border			: 1px solid #839E99; 
	.prohancetable td, th {
		border			: 1px solid black;
		border-collapse	: collapse; 
	}
}

.customColumn {
	left	: 0px !important;
}
   
.customColumn #colmsSelPanel-innerCt{ 
	overflow: auto !important;
	width: 100% !important;
	height: 150px !important;
	background-image: url('../images/custrepwatermrk.png');
    background-repeat: no-repeat;
    background-position: center;
} 


.customColumn .x-btn-toolbar {
	background		: #8AB9DB;
	border-radius	: 11px 0px;
	font-family		: "Courier New", Courier, monospace;
	color			: #157fcc;
	font-size		: 18px;
	text-decoration	: none;
}

.customColumn .x-btn-toolbar {
	background		: #8AB9DB;
	text-decoration	: none;
	position: relative !important;
    float: left;
    top:30px !important;
    left:32px !important;
    width: auto !important;
}
.customColumn div#colmsSelPanel-targetEl	{     width: 100% !important; }
.customColumn .x-btn-default-toolbar-small .x-btn-inner {
	color: #FFF !important;
}
.rportgenerate {
  
    right	: auto ; 
    margin	: 0px !important;
    margin-top: 160px !important;
    right: 0px !important;
    left: 3px !important;
}
.customColumn .x-btn-default-toolbar-small-icon-text-left .x-btn-inner {
	padding-left	: 19px;
}

.customColumn .x-btn .x-unselectable .x-btn-toolbar .x-box-item .x-toolbar-item .x-btn-default-toolbar-small .x-icon-text-left .x-btn-icon-text-left .x-btn-default-toolbar-small-icon-text-left {
	top	: 0px;
}
.customColumn .x-btn-button:before {
    content: "x";
    padding: 3px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}
.customColumn .x-btn-button{
	height:21px !important;
}

.customColumn .x-btn-wrap{
	line-height:16px !important;
}

.customColumn .x-btn-button .x-btn-inner{
	margin-top:-15px !important;
}
.custdefaultReport .x-accordion-body div.x-unselectable{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.CustRportMainPnl{
	
}
#customRepTree div#customRepTree-body{
	overflow-y:auto !important;
	height:380px !important;
	width:324px !important;
}
#customRepTree .x-tree-elbow-img{display:none !important;}
.watrmark{
left: 330px !important;
top:50px !important;
text-shadow: 1px 1px 1px #B0B0B0;

}
#CustomReportGridID .x-panel-default-outer-border-rl{
border-bottom-color: #157fcc!important;
    border-bottom-width: 1px!important;
}
#Setingsicons{
/* top:8px!important;
height:25px;
width :30px;
cursor: pointer; */
	top: 0px!important;
    height: 42px;
    width: 37px;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    padding: 5px;
    border-radius: 5px;
    
}
#SettingIconGroup{
margin:13px;
}
#CustomReportGridID x-grid-group-title:empty {
 /*display: none;*/
}
.ShiftDetailsTble{border:1px solid #e7e7e7;  
 }
.ShiftDetailsTble .x-box-layout-ct{/*margin-left: 8px;*/}
.ShiftDetailsTble tbody{/*padding:3px;*/}
.field-margin{padding: 4px 6px 3px 6px;
}
#ShiftDetilsCont-containerEl .x-table-layout{/*margin-left:10px;*/}

#mprContainerM_header_hd
{	
	font-size: 16px;    
    text-align: center;
}

#mprContainer_header_hd
{
	font-size: 16px;    
    text-align: center;
}
.grid-row-span .x-grid3-row {
    border-bottom: 0;
}
.grid-row-span .x-grid3-col {
    border-bottom: 1px solid #ededed;
}
.grid-row-span .row-span {
    border-bottom: 1px solid #fff;
}
.grid-row-span .row-span-first {
    position: relative;
}
.grid-row-span .row-span-first .x-grid3-cell-inner {
    position: absolute;
}
.grid-row-span .row-span-last {
    border-bottom: 1px solid #ededed;
}
#TotalApprovedFTE{
left: 25px !important;
width: 12%;
}
.AvgComm{   left: -687px !important;
    float: right;
    position: relative !important;}

.AvgResp{ left: -543px !important;
    float: right;
    position: relative !important;}

.AvgLead{  left: -397px !important;
    float: right;
    position: relative !important;}

.AvgTrust{float: right;
left:0px !important;
    position: relative !important;
    margin-right: 275px !important;}


#ClientSentimentalGrid #id-docs-paging{left: 400px !important;
    /*width: 9% !important;*/
    float: right !important;
    position: relative !important;}
	#id-docs-paging #tbtext-1228{left:0px !important;}
	
.wrapText .x-grid-cell-inner {
    white-space: normal;
}

#ClientSentimentalGrid .x-grid-row-editor-buttons-default-bottom {
    top: 63px !important;
    text-align:top;
}
#TotalRelivedPercentage-inputEl {
    position: relative;
    left: 253px;

}
#totrec-inputEl {
	 position: relative;
    left: 433px;
}
#TotalRelivedCount-inputEl {
	position: relative;
	  left: 10px;
}
#totrecDelex-inputEl {
    position: relative;
    left: 815px !important;

}
 #ClientSentimentalGrid-body tr:last-child { height:109px; }
 
 #ClientSentimentalGrid .mainContent-body .x-toolbar-text { left: 130px!important;}
 
 #ClientSentimentalGrid .x-grid-td{ vertical-align: middle; }
 
#ClientSentimentalGrid img.undefined.x-action-col-0.x-action-col-icon {display: none!important;}

.notesremoveIcon{
	background-image: url('../images/delete.png') !important;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	background-color: white !important; border:  none !important;
	top:83px !important;
	left:600px !important;
}
.dispNoteError{
	top:30px !important;
	left:620px !important;
	animation: fadeIn 2s infinite alternate;
	
}
@keyframes fadeIn { 
  from { opacity: 0; } 
}
.AddMultiNotes{
    background-image: url('../images/add-notes3.png') !important;
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	background-color: white !important; border:  none !important;

}