@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body						{ margin:0px; padding:0px; font-family:Tahoma, Geneva, sans-serif; font-size:12px; }
a 							{text-decoration:none;}
.TopHeader					{ width:100%; height:45px; background-color:#005589; margin:0px auto; position:fixed; top:0; z-index: 20; }
.LogoOtr					{ width:128px; height:45px;background-image:url(../images/login_bg.png); background-repeat:repeat; float:left;
							  margin-left:5px; text-align:center; }
.LogoOtr1					{ background-color:#FFFFFF; width:128px; height:45px; background-repeat:repeat; float:left; margin-left:5px; text-align:center; }
.LogoOtr img					{ padding-top:8px; }
.LogoOtr1 img				{ padding-top:8px; }		
.wrapper					{ height:500px;width:1000px; margin:125px;}					  
.Footer						{ width:100%; z-index: 10; height:25px; background-color:#005589; float:left; font-family:Tahoma, Geneva, sans-serif;
							  color:#ffffff; font-size:11px; text-align:center; line-height:25px; margin-top:45px; position: fixed; bottom: 0px;  }
							  
.successful					{ display: block;  font-size: 25px; text-align: center; color: #008000; margin-top:15%; padding: 10px; width: 100%;}							  

.RightOtr					{ width:auto; float:right; margin-right:5px; height:25px; text-align:right; margin-top:10px; }
.RightOtr span				{ font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#ffffff; line-height:25px; float:left; margin:0 5px; }					  
/* CSS style goes here*/


#container{text-align:left;background:#fff;border:1px solid #ccc;-webkit-box-shadow:rgba(0,0,0,0.2) 0px 0px 5px;-moz-box-shadow:rgba(0,0,0,0.2) 0px 0px 5px;-o-box-shadow:rgba(0,0,0,0.2) 0px 0px 5px;box-shadow:rgba(0,0,0,0.2) 0px 0px 5px}

#container{margin:60px auto;width:1000px; min-height: 500px;}
#container h1 { dispaly:block; width:100%; font-size: 18px; text-align: center; line-height: 30px; border-bottom: 1px solid #444444; color: #444444; margin:5px 0;}

.theorem{margin:20px 14px 0 14px;padding:0 0 20px 0;position:relative}
.btTxt { background:#005589; color: #FFFFFF; }
.exportBtn { float: left; margin-bottom: 15px; }
#ajaxLoader {
    margin-left: 5px;
    margin-top: 3px;
}
.exportBtn .btTxt, .exportBtn #ajaxLoader{ float:left; }
label.desc {
    color: #222222;
    display: block;
    font-size: 95%;
    font-weight: bold;
    line-height: 150%;
    margin: 0;
    padding: 0 0 3px;
    white-space: normal;
    width: 100%;
}
p.assessdesc {
    color: #222222;
    display: block;
    font-size: 95%;
    font-weight: bold;
    line-height: 150%;
    margin: 0;
    padding: 0 0 3px;
    white-space: normal;
    width: 100%;
}
.formTable { width:100%; padding: 3px; }
.formTable tr td label {
    clear: both;
    color: #444444;
    display: block;
    font-size: 85%;
    line-height: 160%;
    margin: 0;
    padding-top: 3px;
}
.formTable tr td input[type="text"], .formTable tr td select, .formTable tr td textarea
{ width:96%; float:left; }
.formTable tr td span {
    color: #444444;
    display: block;
    float: left;
    padding: 0;
    width: 50%;
}
.formTable tr td span input {
    width: 94%;
}
.formTable tr td {
    padding: 3px;
    width: 25%;
}
.error {
    color: #FF0000;
}
.heading
{
	background-color: #005589;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    margin: 0;
   	padding-left: 10px;
}
.bottom {
	padding:5px;
}
.headingTitle
{
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-color: #005589;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    width:100%;
}
.ContentWrapper {
	border: 1px solid #005589;
}
.subTable, .rightHeading { float:left; border: 1px solid #fff;}
.mainTable label, .mainTable textarea { float:left !important; }
.formTable.mainTable {
    margin-bottom: 5px;
    border: 1px solid #fff;
}
.BtnOtr {
    margin-top: 5px;
    text-align: center;
}
.bottom.InputGroup {
    margin: 5px 10px;
}
.mainTable textarea { height: 80px; }
.subTable tr td span {
	line-height: 23px;
    width: 5%;
}
 .subTable tr td input {
 	width:90% !important;
 }
 .checkLabel {
 	width: 30px !important;
 }
.top {
    padding: 5px 15px;
}
/* Generic form fields */
		
fieldset.elist, input[type="text"], textarea, select, option, fieldset.elist ul, fieldset.elist > legend, fieldset.elist input[type="text"], fieldset.elist > legend:after {
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		}
fieldset {padding: 1px;border: 1px solid Gray;}

.rowodd {
    background-color:#FFFFFF !important;
    border: 1px solid #808080 !important;
}
.roweven {
    background-color:#F5F5F5 !important;
    border: 1px solid #808080 !important;
}
.logout{
    font-size: 15px;
    margin: 13px 15px;
    text-align: right;
}
.logout a{
	color: #f1f1f1;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
